### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [189]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [190]:
player_count = len(purchase_data_df['SN'].unique())
'Number of Players is ' + str(player_count)

'Number of Players is 576'

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [191]:
item_count = len(purchase_data_df['Item ID'].unique())
average_price = purchase_data_df['Price'].mean()
total_sales = len(purchase_data_df['Item ID'])
#max_price = purchase_data_df['Price'].max()
#min_price = purchase_data_df['Price'].min()
#most_popular_item = purchase_data_df['Item Name'].mode()
#most_popular_item_rev = purchase_data_df.loc[purchase_data_df['Item Name'] == 'Final Critic', 'Price']
#most_popular_item_rev = most_popular_item_rev.sum()
total_revenue = purchase_data_df['Price'].sum()

In [192]:
purchase_total_df = pd.DataFrame({
    '# of Players':[player_count],
    '# of Items':[item_count],
    'Avg Price':[average_price],
    '# of Sales' :[total_sales],
    'Total Revenue' : [total_revenue]
#    'Most Expensive Item':[max_price],
#    'Least Expensive Item':[min_price],
#    'Most Popular Item':[most_popular_item],
#    'Most Pupular Item Profit':[most_popular_item_rev]
                                 })
purchase_total_df

   # of Players  # of Items  Avg Price  # of Sales  Total Revenue
0           576         183   3.050987         780        2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [193]:
purchase_data_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [194]:
gender_df = purchase_data_df[['Gender','SN']]
gender_group = gender_df.groupby(['Gender'])
gender_group['SN'].unique().count()
percentage_g = gender_group.count()
total_g = percentage_g['SN'].sum()
percentage_g['Percentage']= percentage_g['SN']/total_g
percentage_g

                        SN  Percentage
Gender
Female                 113    0.144872
Male                   652    0.835897
Other / Non-Disclosed   15    0.019231


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [195]:
purchase_data_df.set_index(['Purchase ID'])

#Gender seperated dataframes parsed and calculated
male_df = purchase_data_df.loc[purchase_data_df['Gender']== 'Male']
male_items = len(male_df['Purchase ID'])
male_average = male_df['Price'].mean()
male_total = male_df['Price'].sum()
male_normalized = male_total/male_items

female_df = purchase_data_df.loc[purchase_data_df['Gender']== 'Female']
female_items = len(female_df['Purchase ID'])
female_average = female_df['Price'].mean()
female_total = female_df['Price'].sum()
female_normalized = female_total/female_items

other_df = purchase_data_df.loc[purchase_data_df['Gender']== 'Other / Non-Disclosed']
other_items = len(other_df['Purchase ID'])
other_average = other_df['Price'].mean()
other_total = other_df['Price'].sum()
other_normalized = other_total/other_items

In [196]:
#combine seperate gender dataframes
gen_purch_df = pd.DataFrame({
        'Gender':['Male','Female','Other / Non-Disclosed'],
        'Purchase Count':[male_items,female_items,other_items],
        'Average Purchase Price':[male_average,female_average,other_average],
        'Total Purchase Value':[male_total, female_total, other_total],
        'Normalized Totals':[male_normalized, female_normalized, other_normalized]          
                        })
gen_purch_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,Male,652,3.017853,1967.64,3.017853
1,Female,113,3.203009,361.94,3.203009
2,Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [197]:
# Establish bins for ages
age_df = purchase_data_df
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_df['Age Group']= pd.cut(purchase_data_df['Age'],age_bins,labels=group_names)
age_df = age_df.groupby(['Age Group'])
group_percent = (age_df['Age Group'].count() / total_g).rename('Age Percent')
group = (age_df['Age Group'].count()).rename('Count')
group_percent

Age Group
<10      0.029487
10-14    0.035897
15-19    0.174359
20-24    0.467949
25-29    0.129487
30-34    0.093590
35-39    0.052564
40+      0.016667
Name: Age Percent, dtype: float64

In [198]:
combine_df = pd.concat([group,group_percent],axis=1)
combine_df

           Count  Age Percent
Age Group
<10           23     0.029487
10-14         28     0.035897
15-19        136     0.174359
20-24        365     0.467949
25-29        101     0.129487
30-34         73     0.093590
35-39         41     0.052564
40+           13     0.016667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [207]:
age_count = (age_df['Age Group'].count()).rename('Purchase Count')
age_average = (age_df['Price'].mean()).rename('Average Purchase Price')
age_sum = (age_df['Price'].sum()).rename('Total Purchase Value')
age_normalized = (age_sum / group).rename('Normalized Totals')
combine_df = pd.concat([age_count,age_average,age_sum,age_normalized],axis=1)
combine_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [284]:
top_df = purchase_data_df
top_df = top_df.groupby(['SN'])
player_purch = (top_df['Price'].sum()).rename('Total Purchase Value')
player_items = (top_df['Item ID'].count()).rename('Purchase Count')
player_avg = (player_purch/player_items).rename('Average Purchases Price')
player_combine_df = pd.concat([player_items,player_avg,player_purch],axis=1)
player_combine_df.nlargest(5,'Total Purchase Value')

             Purchase Count  Average Purchases Price  Total Purchase Value
SN
Lisosia93                 5                 3.792000                 18.96
Idastidru52               4                 3.862500                 15.45
Chamjask73                3                 4.610000                 13.83
Iral74                    4                 3.405000                 13.62
Iskadarya95               3                 4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame